#
# Bacula User Agent (or Console) Configuration File
#

Director {
  Name = {{ bacula_director_name }}
  DIRport = {{ bacula_director_port }}
  address = "{{ bacula_director_address }}"
  Password = "{{ bacula_director_console_password }}"
}
